*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}

#wrap{
    border-top: 5px solid #009223;
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: auto;
}

header .logo{
    width: 202px;
    margin: 35px auto 0;
}
header .logo a{
    display: block;
}

nav{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
#header_menu{
    width: 1000px;
    margin: 22px auto 0;
    display: flex;
    
}
#header_menu > li{
    flex: auto;
    text-align: center;
    position: relative;
}
#header_menu > li > a{
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
}
#header_menu .submenu{
    width: 100%;
    margin-top: 20px;
    height: 0;
    position: absolute;
    font-size: 15px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 100;
}
#header_menu:hover .submenu{
    opacity: 1;
    height: 240px;
}
#header_menu .submenu li a{
    display: block;
    line-height: 30px;
}
#header_menu .submenu li a:hover{
    color: #009223;
    text-decoration: underline;
}
.shadow{
    width: 100%;
    position: absolute;
    height: 0;
    background-color: #fff;
    transition: all 0.3s;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

}
#header_menu:hover + .shadow{
    height: 240px;
    z-index: 10;
}

#slide{
    position: relative;
    width: 100%;
}
#slide_banner{
    height: 440px;
}