/* ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #e0e0e0;
}
.intro-container {
  background: rgba(255, 255, 255, 0.2);
}
.intro-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #e0e0e0;
  font-size: 1.1rem;
} */
