.profile-section {
  padding: 5rem 1rem;
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}
.highlight {
  color: var(--main-highlight);
}
.section-divider {
  width: 5rem;
  height: 0.25rem;
  background: var(--main-highlight);
  margin: 0 auto;
}
.profile-grid {
  display: grid;
  gap: 3rem;
  align-items: center;
}
@media (min-width: 768px) {
  .profile-grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.profile-instar {
  width: 460px;
  background: #fff;
  color: #000;
}
.profile-instar .instar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.profile-instar .instar-profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.profile-instar .instar-profile-img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-instar .instar-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-instar .instar-name h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}
.profile-instar .instar-name p {
  font-size: 0.9rem;
  margin: 0;
  color: #555;
}
.instar-more {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 1.8rem;
  cursor: pointer;
  transform: translatey(-50%);
}
.instar-more span {
  display: inline-block;
}

.instar-content {
  width: 100%;
}
.instar-content .instar-main-img {
  width: 100%;
}
.instar-content .instar-main-img img {
  display: block;
  width: 100%;
}
.profile-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.profile-card {
  background: var(--main-background);
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--sub-background);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-card:hover {
  border-color: var(--sub-highlight);
  background: var(--sub-background);
}
.profile-card:hover {
  transform: scale(1.1);
}

.profile-card h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
.profile-card h4::after {
  content: "";
  width: 0;
  height: 100%;
  margin-left: 1rem;
  border: 1px solid var(--main-highlight);
}
