@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
